linux/amd64/bin/zoxide filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-multitask filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-sessionizer filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/fastfetch filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/uv filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-branch filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/atuin filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/btop filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/yazi filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-ghost filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/lazygit filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/tldr filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-switch filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/fzf filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/uvx filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/sheldon filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zen filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/git-lfs filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/glow filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-bookmarks filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-room filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/hx filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/starship filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-workspace filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/kando filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/topgrade filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-favs filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zellij-forgot filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/gum filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/quickemu[[:space:]]quickget[[:space:]]quickreport[[:space:]]chunkcheck filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/quickemu filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/quickget filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/quickreport filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/chunkcheck filter=lfs diff=lfs merge=lfs -text
linux/amd64/bin/zen-browser filter=lfs diff=lfs merge=lfs -text
